{% extends 'layouts/application.html' %}

{% block content %}
  <main class="main-content">

    {# Controls #}
    {% set effects = {
      'rainbowRain': 'Rainbow Rain',
      'waveUp': 'Wave Up',
      'waveDown': 'Wave Down',
      'rainUp': 'Rain Up',
      'breathe': 'Breathe'
    } %}
    {# 'bubbles': 'Bubbles' #}

    <div class="controls" data-module="Controls">
      <div class="controls-content">
        <h1 class="controls-header">
          {{ sprite('lightwalk-logo', '0 0 427 95') }}
        </h1>

        <h2 class="controls-page-header">
          <div class="controls-page-header__content -is-page-1 -is-visible">
            <div>
              {{ sprite('stopwatch', null, 'controls-page-header__icon') }}
              Queue
            </div>
          </div>
          <div class="controls-page-header__content -is-page-2">
            <div>
              <button data-page-link="1">
                {{ sprite('arrow-left', null, 'controls-page-header__icon') }}
              </button>
              Add an Effect
            </div>
          </div>
          <button class="controls-page__add-effect -is-page-1 -is-visible" data-page-link="2">
            {{ sprite('plus') }}
          </button>
        </h2>

        <section class="controls-page">

          <div class="controls-page__content -is-page-1 -is-visible">
            <div class="controls-page__heading -medium">Now Displaying</div>
            <div class="controls__display-effect">
              <div class="controls__effect-placeholder">Add an Effect</div>
              <div class="controls__active-effect">
                <div class="controls__active-effect__countdown" id="countdown">
                  00:<span>00</span>
                </div>
                <div class="controls__active-effect__name"></div>
              </div>
            </div>
          </div>

          <div class="controls-page__content -is-page-2">
            <form class="controls-form" id="controls-form">

              <h3 class="controls-page__heading -small">Primary Effect</h3>
              <div class="controls-form-field">
                <select class="controls-form__dropdown" name="foreground-effect" id="foreground-effect">
                  <option value="" selected>Select an effect</option>
                  {% for slug, name in effects %}
                    <option value="{{ slug }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>

              <h3 class="controls-page__heading -small">Secondary Effect</h3>
              <div class="controls-form-field -last">
                <select class="controls-form__dropdown" name="background-effect" id="background-effect">
                  <option value="" selected>Select an effect</option>
                  {% for slug, name in effects %}
                    <option value="{{ slug }}">{{ name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="controls-form__submit">
                <button id="controls-form-submit" disabled>Submit</button>
              </div>
            </form>
          </div>
        </section>

      </div>
    </div>


    {# Reeds #}
    {% set reedCount = 12 %}
    {% set pixelCount = 30 %}
    <div class="reeds">
      {% for x in range(0, reedCount) %}
        <div class="reed">
          {% for y in range(0, pixelCount) %}
            <div class="reed__light"></div>
          {% endfor %}
          </div>
      {% endfor %}
    </div>


  </main>
{% endblock %}
