.controls {
  flex-shrink: 0;
  height: 440px;
  position: relative;
  z-index: 2;

  @media (max-width: 739px) {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }

  @media (min-width: 740px) {
    background: url('../images/phone-frame.png') no-repeat top left;
    background-size: 343px;
    height: 688px;
    margin-right: units(2);
    width: 343px;
  }

  @include bp(xlarge) {
    background-size: 400px;
    height: 802px;
    width: 400px;
  }
}

.controls-content {
  background-color: color(concrete);
  border: 1px solid #ccc;

  @media (min-width: 740px) {
    height: 530px;
    left: 21px;
    position: absolute;
    top: 79px;
    width: 300px;
  }

  @include bp(xlarge) {
    height: 619px;
    left: 25px;
    top: 91px;
    width: 349px;
  }

  .-is-page-1,
  .-is-page-2 {
    @include inviz;
  }
}

.controls-header {
  background-color: color(mineShaft);
  color: #fff;
  padding: units(2) units(2) units(1.5);
  text-align: center;

  svg {
    width: 120px;
  }
}

.controls-page {
  position: relative;
}

.controls-page-header {
  background-color: color(darkMineShaft);
  color: #fff;
  height: 56px;
  position: relative;
}

.controls-page-header__content {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  padding: units(2);
  position: absolute;
  top: 0;
  transform: translate3d(10px, 0, 0);
  transition: all timing();
  width: 100%;

  &.-is-visible {
    @include viz;
    transform: translate3d(0, 0, 0);
    transition-delay: timing();
  }
}

.controls-page-header__icon svg {
  margin-right: units(1);
  position: relative;
  top: 4px;
  width: 20px;
}

.controls-page__add-effect {
  animation: bulgeWithPause 4s timing() infinite;
  align-items: center;
  background:
    linear-gradient(
      127.61deg, #4f2170 15.13%,
      rgba(79,33,112,.129412) 85.98%,
      rgba(79,33,112,.129412) 0),
    color(plum);
  border-radius: 50%;
  bottom: -25px;
  box-shadow:
    2px 3px 15px rgba(0,0,0,.4),
    inset 1px 1px 0 hsla(0,0%,100%,.08),
    inset -1px -1px 0 rgba(0,0,0,.08);
  display: flex;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 25px;
  transform: scale(0.5) rotate(180deg);
  transition:
    opacity timing(),
    transform timing(),
    visibility timing();
  width: 50px;
  z-index: 2;

  svg {
    width: 15px;
  }

  &.-is-visible {
    @include viz;
    transform: scale(1) rotate(0deg);
    transition-delay: timing(slow)
  }
}

.controls-page__content {
  left: 0;
  padding: units(2);
  position: absolute;
  top: 0;
  transform: translate3d(0, 10px, 0);
  transition: all timing();
  width: 100%;

  &.-is-visible {
    @include viz;
    transform: translate3d(0, 0, 0);
    transition-delay: timing();
  }
}


.controls-page__heading {

  &.-small {
    @include heading--small;
    margin-bottom: units(1);
  }

  &.-medium {
    @include heading--medium;
    margin-bottom: units(2);
  }

  &.-large {
    @include heading--large;
    margin-bottom: units(2);
  }
}

.controls__display-effect {
  font-size: 14px;
  position: relative;
}

.controls__effect-placeholder {
  @include viz;
  @include transitionViz;
  align-items: center;
  border: 2px dashed darken(color(concrete), 10%);
  color: darken(color(concrete), 30%);
  display: flex;
  height: 58px;
  justify-content: center;

  .controls__display-effect.-is-active & {
    @include inviz;
  }
}

.controls__active-effect {
  @include inviz;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.24);
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, 100%, 0);
  transition: all timing();
  width: 100%;

  > div {
    padding: units(2.5) units(2);
  }

  .controls__display-effect.-is-active & {
    @include viz;
    transform: translate3d(0, 0, 0);
    transition-delay: timing();
  }
}

.controls__active-effect__countdown {
  border-left: 4px solid color(plum);
  border-right: 2px solid color(concrete);
  font-family: courier;
}

.controls__active-effect__name {
  font-weight: 700;
}


.controls-form {

}

.controls-form-field {
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;

  &:not(.-last) {
    margin-bottom: units(3);
  }

  &::after {
    @include pseudo;
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    right: 20px;
    top: calc(50% - 3px);
    width: 0;
    z-index: -1;
  }
}

.controls-form__dropdown {
  color: #999;
  padding: units(1.5);
}

.controls-form__submit {
  margin-top: units(4);

  button {
    animation: bulge timing();
    background-color: color(plum);
    color: #fff;
    font-size: 12px;
    padding: units(1.5);
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &[disabled] {
      animation: none;
      background-color: color(silver);
      cursor: default;
    }
  }
}