.main-content {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  display: flex;
  font-family: 'Cabin', sans-serif;
  justify-content: center;
  overflow: hidden;
  padding: units(2) 0;
  position: relative;

  @media (max-width: 739px) {
    flex-direction: column-reverse;
  }
}