p {
  margin: 0;
}

@mixin body--normal {
  font-size: 18px;
  line-height: 1.8;
}

@mixin body--strong {
  @include body--normal;
  font-weight: 700;
}

@mixin body--medium {
  font-size: 20px;
  line-height: 1;
}
