@mixin label($color, $line-height: 1.4, $letter-spacing: 0.2em, $font-weight: 400) {
  @if $color == '' {
    $color: #fff;
  }

  color: $color;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin label--small($color: '') {
  @include label($color);
  font-size: 12px;
}

@mixin label--medium($color: '') {
  @include label($color, $font-weight: 700);
  font-size: 17px;
}

@mixin label--large($color: '') {
  @include label($color);
  font-size: 18px;
}
