$REED_COUNT: 20;

body {
  background-color: #222;
}

.reeds {
  display: flex;
  margin: 100px 0;
  justify-content: center;
}

.reed {
  margin: 5px;
  position: relative;

  &::after {
    background-color: #fff;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @for $i from 1 through $REED_COUNT {
    // random number from -10 to 10
    $rotation: random(20) - 10;

    &:nth-child(#{$i}) {
      transform: rotate(#{$rotation}deg);
    }
  }
}

.reed__light {
  width: 10px;
  height: 15px;
}