button {
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

//Eliminate outline for mouse users
html[data-whatinput="mouse"] *:focus {
  outline: none;
}
