$tiny   : 400px;
$xsmall : 600px;
$small  : 768px;
$medium : 960px;
$large  : 1024px;
$xlarge : 1280px;
$huge   : 1920px;

$breakpoints: (
  tiny        : '(min-width: #{$tiny})',
  tiny-down   : '(max-width: #{$tiny - 1px})',
  xsmall      : '(min-width: #{$xsmall})',
  xsmall-only : '(min-width: #{$xsmall}) and (max-width: #{$small - 1px})',
  xsmall-down : '(max-width: #{$xsmall - 1px})',
  small       : '(min-width: #{$small})',
  small-only  : '(min-width: #{$small}) and (max-width: #{$medium - 1px})',
  small-down  : '(max-width: #{$small - 1px})',
  medium      : '(min-width: #{$medium})',
  medium-only : '(min-width: #{$medium}) and (max-width: #{$large - 1px})',
  medium-down : '(max-width: #{$medium - 1px})',
  large       : '(min-width: #{$large})',
  large-only  : '(min-width: #{$large}) and (max-width: #{$xlarge - 1px})',
  large-down  : '(max-width: #{$large - 1px})',
  xlarge      : '(min-width: #{$xlarge})',
  xlarge-down : '(max-width: #{$xlarge - 1px})',
  huge        : '(min-width: #{$huge})'
);

@mixin bp($breakpoint) {
  $bp: get-bp($breakpoint);

  @media #{$bp} {
    @content;
  }
}
